/* pages/login/login.wxss */


.login-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200rpx;

  //按钮透明
  .btn{
    background-color:transparent;
  }
  .btn::after{
    border: none;
  }
}

.login-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25rpx;
  text{
    color: #BBB;
  }
  .bottom-button{
    margin-top: 25rpx;
  }
}